/* Pretty Scratch */
/* all pages */
body {
	background: white;
	height: auto;
}

.box, .box-content {
	background: white;
	border: none;
	border-radius: 0;
	box-shadow: none;
	border-top: none;
}

::selection {
    background-color: #71B1FF;
    color: white;
}

.gallery.thumb.item {
	padding-left: 15px;
}

/* navbar */
#topnav {
	box-shadow: none;
	
	user-select: none;
	-webkit-user-select: none;
  	-moz-user-select: none;
	-ms-user-select: none;
  	-o-user-select: none;
}

#topnav ul.site-nav li {
	border: none !important;
	transition: background-color 150ms;
}

#topnav ul.account-nav.logged-in>li {
	border: none;
	transition: background-color 150ms;
}

#topnav .innerwrap {
	background-color: #3497CA;
}

#topnav ul.account-nav ul.user-nav li {
	transition: background-color 150ms;
}

#topnav ul.account-nav ul.user-nav {
	transition: background-color 150ms;
}

#topnav ul.account-nav .logged-in-user.dropdown.open {
	background-color: #3497CA !important;
}

#topnav ul.account-nav .logged-in-user.dropdown {
	width: 160px;
}

#topnav ul.account-nav .logged-in-user .dropdown-menu {
	margin-top: 9px;
	background-color: #3497CA;
	-webkit-box-shadow: none;
}

li.logout.divider:hover {
	background-color: #fe3e34;
}

/* user pages */
.doing {
	border: none;
}
