/* Pretty Scratch */
/* all pages */
body {
	background: white;
}

.box, .box-content {
	background: white;
	border: none;
	border-radius: 0;
	box-shadow: none;
	border-top: none;
}

::selection {
    background-color: #71B1FF;
    color: white;
}

/* user pages */
.doing {
	border: none;
}
