/* Pretty Scratch */

/* all pages */
body {
	background: white;
	height: auto;
	text-shadow: none !important;
}

body.editor .showcase {
	position: absolute;
}

.scrollbar .track {
	box-shadow: none;
	border-radius: 0;
}

.scrollbar.handle {
	border-radius: 0 !important;
	transition: top 100ms;
}

.scrollbar .thumb {
	cursor: default;
	border-radius: 0 !important;
	transition: top 100ms;
}

.viewport::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
	cursor: default;
	border-radius: 0 !important;
	transition: top 100ms;
	background-color: #666;
}

.viewport::-webkit-scrollbar, textarea::-webkit-scrollbar {
	box-shadow: none;
	border-radius: 0;
	background-color: #eee;
}

.overview {
	transition: top 100ms;
}

#footer {
	height: 23em;
}

#ps-update {
	position: fixed;
	height: 50px;
	text-align: center;
	top: 35px;
	width: 100%;
	line-height: 50px;
	background-color: #0B3F5A;
	color: white;
}

.ps-emoji {
	margin-bottom: 4px;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}

.button {
	border: none;
	border-radius: 0;
	background: #3497CA;
	transition: background 150ms, color 150ms;
	text-shadow: none;
}

#comments .highlighted {
	background-color: white;
}

#comments .comments ul li {
	border-top: none !important;
}

#comments .more-replies {
	box-shadow: none;
	border-top: none;
	margin-top: 0;
	height: 25px;
}

#comments .more-replies .pulldown {
	border: none;
}

#footer {
	box-shadow: none;
}

img {
	border: none !important;
}

.button:hover {
	background: #0c6185;
}

.button.grey {
	background: #e6e6e6;
}

.button.grey:hover {
	background: #999;
	color: white;
}

.box, .box-content {
	background: white;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

::selection {
    background-color: #71B1FF;
    color: white;
}

.gallery.thumb.item {
	padding-left: 15px;
}

.box .box-head .portrait img {
	border: none;
}

/* navbar */
.dropdown .dropdown-menu {
	display: block;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 150ms, opacity 150ms linear;
}

.dropdown.open .dropdown-menu {
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
}

#topnav ul.account-nav>li>span {
	font-weight: normal;
}

.join-scratch, #login-dropdown {
	border: none;
	transition: background 150ms;
}

.join-scratch:hover, #login-dropdown:hover {
	background: #0C6185 !important;
}

#topnav form.search {
	margin-top: 6px;
	position: absolute;
}

#topnav form.search input {
	border-radius: 4px;
	padding-left: 3px;
}

#topnav form.search .glass {
	display: none;
}

#topnav {
	box-shadow: none;
	user-select: none;
	-webkit-user-select: none;
  	-moz-user-select: none;
	-ms-user-select: none;
  	-o-user-select: none;
}

#topnav .container {
	width: 70%;
	min-width: 940px;
}

#topnav ul.site-nav li {
	border: none !important;
	transition: background-color 150ms;
}

#topnav .logo span {
	transition: background 150ms;
}

#topnav ul.account-nav.logged-in>li {
	border: none;
	transition: background-color 150ms;
}

#topnav .innerwrap {
	background-color: #3497CA;
}

#topnav ul.account-nav ul.user-nav li {
	transition: background-color 150ms;
}

#topnav ul.account-nav .logged-in-user.dropdown.open {
	background-color: #3497CA !important;
}

#topnav ul.account-nav .logged-in-user.dropdown {
	width: 160px;
}

#topnav ul.account-nav .logged-in-user .dropdown-menu {
	margin-top: 9px;
	background-color: #3497CA;
	-webkit-box-shadow: none;
	cursor: default;
}

#topnav ul.account-nav ul.user-nav li.logout.divider {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#topnav ul.account-nav ul.user-nav li.logout.divider:hover {
	background-color: #fe3e34;
}

#topnav ul.account-nav .logged-in-user .user-icon {
	border-radius: 2px;
	border: 0;
}

.dropdown .dropdown-menu {
	border: 0;
}

/* user pages */
#bio-readonly, #status-readonly {
	height: 110px;
}

.doing {
	border: none;
	border-left: none !important;
}

#featured-project img {
	height: initial;
	width: 290px;
}

#profile-box .player {
	border: none;
	box-shadow: none;
}

#profile-box {
	background: #f9f9f9;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}

#profile-box .inner {
	background: #f9f9f9;
}

#profile-data .footer #report-this:hover {
	color: #d82f2f;
	text-decoration: underline;
}

/* project pages */
.editable:hover, .editable.write, .editable, .editable-empty {
	border: none !important;
}

.showcase .info {
	border-left: none;
}

.showcase .box-content {
	background: white;
	border-top: none;
}

.button#load-scratchext-1 {
	margin: 0;
	margin-left: -4px;
}

.button#see-inside {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-left: -4px;
}

.box-head .buttons #editor-stats {
	border: none;
	border-radius: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.showcase .actions {
	border-top: none;
}

.showcase .action {
	border-right: none;
}

.action a.remix-tree {
	border: none !important;
	box-shadow: none;
	background: none !important;
}

.box-head .wip {
	display: none;
}

#explore-header {
	background: rgb(71, 71, 71) !important;
	border: none !important;
}

.carousel-control {
	transition: opacity 150ms;
}
